body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

video, canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;
  height: 720px;
}

canvas {
  pointer-events: none;
}
